<!DOCTYPE html>
<html ng-app>
<!-- Use ng-app directive to auto-bootstrap an AngularJS application. The ngApp directive designates the root element of the application and is typically placed near the root element of the page - e.g. on the <body> or <html> tags. -->
  <head>
    <meta charset="utf-8">
    <title>Angular Blog/Tuitorial</title>

    <link rel="shortcut icon" href="./img/angularLogo.png"/>
    <link rel="stylesheet" type="text/css" href="styles/reset.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

  </head>
  <body>

    <header>
    <img src="./img/angularLogo.png" alt="AngularJS Logo">
    <h1>In Depth Angular</h1>
    <h3 class="header-h3">A blog by Spencer&nbsp;Stone</h3>
    </header>

    <div class="yourName">
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <h2 class="yourName">Hello, {{ yourName }}.&nbsp;Welcome!</h2>
    </div>

    <div class="intro">
    <p>
      Welcome to In Depth Angular by Spencer Stone. In this tuitorial we will examine the inner workings of a very popular framework developed by Google, AngularJS. Enter your name in the above input to see angular at&nbsp;work.
    </p>

    <p>
      So what is happening above, then? Bi-directional data binding. This essentially means changing data on the back end changes your view automatically. This is a very simple example of Angular at work. Let's take a deeper look into whats going on. Ready..Set..Code!
    </p>
    </div>

    <h2>
      Lets see the code! Here are the elements we used in our app to make this&nbsp;happen:
    </h2>

    <ul>
      <li><code class="code">ng-app</code></li>
      <li><code class="code">ng-model=“yourName”</code></li>
      <!-- ng-non-bindable directive tells AngularJS not to compile or bind the contents of the current DOM element -->
      <li><code class="code"><span ng-non-bindable="">{{ yourName }}</span></code></li>
    </ul>

    <p>Wait...What is this&nbsp;stuff?</p>

    <p>
      <strong>First</strong>, the <code class="code">ng-app</code> attribute is added on the <code class="code">&lt;html&gt;</code> tag. This tag allows Angular to start. Without this, the CDN used here is useless. It is usually added to root elements and could easily be applied to a <code class="code">body</code> tag as&nbsp;well.
    </p>

    <p>
      <strong>Second</strong>, we to set up bi-directional data binding on the yourName model simply by ading <code class="code">ng-model="yourName"</code> to the&nbsp;input.
    </p>

    <p>
      <strong>Lastly</strong>, we displayed the data yourName in the directive template called <code class="code"><span ng-non-bindable="">{{ yourName }}</span></code>. If you are fimailiar with Handlebars or Mustache, you may be recgognize this template&nbsp;pattern.
    </p>

    <p>
      This is about as simple as AngularJS gets. We have yet to even touch Javascript yet; but dont worry, we'll get to that as more customized behavior becomes&nbsp;necessary.
    </p>

    <h2>
      Javascript! Javascript!
    </h2>

    <p>
      Okay. You asked for it. Lets get started with the javascript. First we created a new JS file and linked it in our head tag. Next we need to define an angular.module. An Angular module is a collection of functions that are run when the application is&nbsp;started.
    </p>

    <p>
      In our linked Javascript file, we will define our module as such: <pre><code class="pre">var app = angular.module('myApp', [])</code></pre>
    </p>

    <p>
      The first arguement is the name of our module. The second, empty array will be adressed,&nbsp;shortly.
    </p>

    <p>
      Next we must instantiate our myApp module and let Angular know where in the DOM tree to look for our app. Remember that <code class="code">ng-app</code> directive we added earlier to the <code class="code">&lt;html&gt;</code> tag? This is where we'll do this. It can be done by simply adding the name of our new module, like so: <code class="code">&lt;html ng-app="myApp"&gt;</code>.
    </p>

    <p>
      Wherever <code class="code">ng-app</code> is located in our HTML is where Angular will start. For our case, we want this to be on either the <code class="code">&lt;html&gt;</code> or <code class="code">&lt;body&gt;</code> tags, since we want the app to take over the entire&nbsp;page.
    </p>

    <h4 class="continue"><a href="./part2.html">Continue</a> to Part 2 of this&nbsp;tuitorial</h4>

  </body>
</html>
