body {
  letter-spacing: .01rem;
  hyphens: none;
}

.eighty {
  max-width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h2, h3 {
  padding-top: 1em;
}

p, a {
  font-family: Merriweather, Garamond, Georgia, serif;
  font-size: 17px;
  line-height: 1.6em;
}

header {
  line-height: .6em;
  text-align: center;
  padding-bottom: 2em;
}

.header-h3 {
  padding-top: 0;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 3px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.yourName {
  text-align: center;
  padding: 0;
}

.intro {
  background: #f5f5f5;
  padding: 1em 2em 1em 2em;
  border-radius: 3px;
}

ul {
  font-size: 16px;
  line-height: 2em;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.code {
  color: #428bcc;
  background: #f5f5f5;
  font-size: 90%;
  padding: 2px 4px;
}

.pre {
  margin: 0;
  padding: 10px 30px;
  display: block;
  background: #1d1f20;
  color: #839496;
  font-size: 90%;
  line-height: 2em;
}

.left {
  float: left;
  margin-bottom: 1em;
}

.right {
  float: right;
  margin-bottom: 1em;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/*.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }*/
.ng-leave           { animation: rotateOutNewspaper 0.5s both ease-in; z-index: 9999; }

/* page specific animations ------------------------ */

/*.page-intro.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-intro.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }*/
